*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

/* absolute */
/* #car1{
    width: 200px;
    height:300px;
    background-color: red;
}
#car2{
    position: absolute;
    width: 220px;
    height:330px;
    background-color: green;
}
#car3{
    width: 300px;
    height:400px;
    background-color: blue;
} */


/* relative */
/* #box{
    width: 400px;
    height: 400px;
    background-color: red;
    position: relative;
}
#small{
    left: 50%;
    width: 50px;
    height: 40px;
    background-color: yellow;
    position: absolute;
} */

/* fixed */
/* #homepage{
 width: 100%;
  height: 2000px;
  background-color:  #000;
}
#side{
    position: fixed;
    height: 200px;
    width: 100px;
    background-color: red;
    right: 0;
    top: 50%;
} */
 /* sticky */
 #parent{
    width: 100%;
    background: #222;
 }
 #child{
    width: 100%;
    height: 2000px;
    background-color: #333;
 }
 #child2{
    width: 3000px;
    height: 2000px;
    background: #555;
 }
 #sticky{
    position: sticky;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    background: red;
 }

