*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#hero{
    color: blue;
    font-size: 100px;

}
#good{
    color: brown;
}

.same{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}